@{
    ViewBag.Title = "¡Bienvenido!";
}

<div class="jumbotron">
    <h1>¡Bienvenido!</h1>
    <p class="lead">Bienvenido/a a la Evaluación de Aprendizaje Nro. 2</p>
    <p><a href="../Jugadores/ListaJugadores" class="btn btn-primary btn-lg">Administrar Jugadores de Fútbol</a></p>
    <p><a href="../Goles/ListaGolesJugador" class="btn btn-primary btn-lg">Administrar Goles</a></p>
</div>